.card {
  margin: 10px;
  width: 220px;
  height: 270px;
  background: #fff;
  border: 2px solid #fff;
  box-shadow: 0 4px 7px rgba(0, 0, 0, .5);
  cursor: pointer;
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  overflow: hidden;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
}

.descriptions {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, .7);
  width: 100%;
  height: 100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
  text-align: center;
}

.info {
  padding-top: 20px;
}

.card:hover .descriptions {
  left: 0;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}

.card:hover {
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, .3);
  transform: scale(.97);
}

.card:hover img {
  transition: all .5s cubic-bezier(.8, .5, .2, 1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}

.title {
  color: #656565;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
}

.mT {
  margin-top: 8px;
}

.oneLineText {
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line_clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card p {
  line-height: 24px;
  height: 70%;
}

.userInfo {
  font-size: 20px;
  font-weight: bold;
}